body {
    background: linear-gradient(45grad, #2b8ef4, #c5dde8);
    font-family: Arial, Helvetica, sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 1400px;
}

.content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.table {
    position: relative;
    flex-direction: column;
}

.row {
    display: flex;
}

.cell {
    background-color: rgb(255, 247, 232);
    width: 34px;
    height: 28px;
    text-align: center;
    font-size: 20px;
    display: flex;
    margin-left: 2px;
    margin-bottom: 2px;
}

.player-name {
    background-color: rgb(255, 247, 232);
    width: 120px;
    height: 28px;
    font-size: 20px;
    padding-left: 5px;
    display: flex;
}

.margin-auto {
    margin: auto;
}

.player-name-container {
    margin-top: 5px;
}

.wr {
    background-color: rgb(255, 247, 232);
    width: 90px;
    height: 28px;
    font-size: 20px;
    margin-left: 2px;
    margin-bottom: 2px;
    display: flex;
}

.win {
    color: darkgreen;
    margin: auto;
}

.loose {
    color: red;
    margin: auto;
}

.date-selector {
    display: flex;
    font-size: 25px;
    align-items: center;
}

.date-box {
    position: relative;
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}

.previous-month,
.next-month {
    cursor: pointer;
    color: azure;
    border: 2px solid transparent;
    border-radius: 8px;
}

.previous-month:hover,
.next-month:hover {
    border: 2px azure solid;
}

.date-box:active .date-list {
    display: flex;
}

.date-list:hover {
    display: flex;
    cursor: pointer;
}

.current-date {
    display: flex;
    width: 180px;
    justify-content: space-between;

    cursor: pointer;
    color: azure;
    flex-grow: initial;
    margin: 5px;
}

.date-list {
    display: none;
    width: 200px;
    top: 0;
    position: absolute;
    background-color: #2b8ef4;
    z-index: 1;
    padding: 5px;
}

.year-list {
    width: 40%;
    /* border-right: #e6e5ed 3px solid; */
    font-size: 25px;
}

.month-list {
    width: 60%;
    font-size: 20px;
}

.year-list div {
    border-bottom: #e6e5ed 1px solid;
    /* text-align: center; */
}

.month-list div {
    /* border-bottom: #e6e5ed 1px solid; */
    /* text-align: center; */
    height: 22px;
}

.year-list div:hover {
    color: azure;
}

.month-list div:hover {
    color: azure;
}

.selected {
    color: azure;
}

.not-display {
    display: none;
}
